#blogs .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  #blogs .col-md-12,
  #blogs .col-lg-4 {
    grid-column: span 1;
  }
  
  #blogs .col-md-6 {
    grid-column: span 2;
  }
  
  @media (max-width: 991.98px) {
    #blogs .col-lg-4 {
      grid-column: span 3;
    }
  
    #blogs .col-md-6 {
      grid-column: span 1;
    }
  }
  
  .blog-post {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .blog-post .image-container {
    flex: 1;
  }
  
  .blog-post img {
    width: 100%;
    height: auto;
  }
  
  .blog-post .read-more {
    margin-top: auto;
  }